{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Mon Panier</h1>
            {% if listeProduits|length > 0 %}
                {{ form_start(form) }}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Variété</th>
                        <th>Origine</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for uneLigne in listeProduits %}
                        <tr>
                            <td>{{ uneLigne.produit.name|capitalize }}</td>
                            <td>{{ uneLigne.produit.variete|capitalize}}</td>
                            <td>{{ uneLigne.produit.origin|capitalize }}</td>
                            <td>{{ uneLigne.quantite }}</td>
                            <td>{{ uneLigne.prix|number_format(2, ',', '') }}€</td>
                            <td><button type="button" class="btn btn-danger delete" data-id="{{ uneLigne.produit.id }}">Supprimer</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="checkbox" required id="cgv">
                    <label for="cgv">J'accepte les conditions d'utilisation</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Valider ma commande</button>
                </div>
                {{ form_end(form) }}
            {% else %}
                <p>
                    Vous n'avez rien dans votre panier !
                </p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function($) {
            $('body').on('click', '.delete', function(e) {
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: Routing.generate('supprimer_ligne_panier', { id: id }),
                    data: {id: id},
                    success: function(data){
                        var url = Routing.generate('cart');
                        window.location.href = url;
                    }
                })
            });
        });
    </script>
{% endblock %}
