{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="{{ path('order_checkout') }}" method="POST">
                <section>
                    <h3>Mon adresse de livraison</h3>
                    <hr>
                    <div class="form-group">
                        <label for="mon-adresse">Mon adresse*</label>
                        <textarea required name="mon-adresse" id="mon-adresse" cols="20" rows=5" class="form-control">{{ monUser.adresse.adresse }}</textarea>
                    </div>
                    <div class="row form-group">
                            <div class="col-md-2">
                                <label for="code-postal">Code Postal*</label>
                                <input value="{{ monUser.adresse.codePostal }}" required class="form-control" type="text" name="code-postal" id="code-postal">
                            </div>
                            <div class="col-md-5">
                                <label for="ville">Ville*</label>
                                <input value="{{ monUser.adresse.ville }}" required class="form-control" type="text" name="ville" id="ville">
                            </div>
                            <div class="col-md-5">
                                <label for="pays">Pays*</label>
                                <input value="{{ monUser.adresse.pays }}" required class="form-control" type="text" name="pays" id="pays">
                            </div>
                    </div>
                </section>
                <section>
                    <h3>Paiement</h3>
                    <hr>
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_1kGtLF4kxb01ae4WmKkaY5ye"
                            data-amount="{{ amount }}"
                            data-name="La boîte à bières"
                            data-description="Example charge"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </section>
                <input type="hidden" name="commande" value="{{ maCommande.id }}">
                <input type="hidden" name="user" value="{{ maCommande.user.id }}">
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
