{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">

        <!-- Form recherche -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Votre recherche</h1>
                {{ form_start(form) }}
                <div class="col-md-12">
                    <div class="form-group">
                        {{ form_label(form.name, 'Nom') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4 form-group">
                        {{ form_label(form.minPrice, 'Prix min') }}
                        {{ form_widget(form.minPrice, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.maxPrice, 'Prix max') }}
                        {{ form_widget(form.maxPrice, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.variete, 'Variété') }}
                        {{ form_widget(form.variete, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row col-md-12">
                    <button class="btn btn-lg btn-primary" type="submit">Rechercher</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <hr>

        <section class="col-xs-12 col-sm-6 col-md-12">
            <h2>Vins</h2>
            <div class="card-columns">
                {% for wine in wines %}
                    <div class="card" style="width: 18rem;">
                        {% if wine.thumbnail is not null %}
                            <img src="{{ ('uploads/thumbnails/' ~ asset(wine.thumbnail))|imagine_filter('article_large') }}" alt="" class="card-img-top img-thumbnail">
                        {% else %}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ wine.name }}</h5>
                            <p class="card-text"><i class="fas fa-location-arrow"></i> {{ wine.description|raw }}</p>
                            <a href="{{ path('site_voir_vin', {'id': wine.id}) }}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </div>
                {% else %}
                    <p>
                        Aucun produit ne correspond aux critères donnés...
                    </p>
                {% endfor %}
            </div>
        </section>

    </div>
{% endblock %}
