{% extends 'base.html.twig' %}

{% block title %} Recherche {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <!-- Liste des vins -->
        <div class="wine-list col-9">
            <h2>Recherche</h2>
            <div class="row">
                {% for wine in wines %}
                    <div class="card col-12 col-sm-6 col-md-4" style="width: 18rem;">
                      <img src="{{ ('uploads/thumbnails' ~ asset(wine.thumbnail))|imagine_filter('Card') }}" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">{{ wine.name }}</h5>
                        <span class="card-text">{{ wine.origin }}</span>
                        <span class="card-text">{{ wine.price }}€</span>
                        <div class="">
                            <a href="{{ path('site_voir_vin', {'id': wine.id}) }}" class="btn btn-primary">Détails</a>
                        </div>
                      </div>
                    </div>
                {% else %}
                    <p>
                        Pas d'article correspondant à votre recherche!
                    </p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>




{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
