<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Boite à bières</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <script src="{{ asset('assets/bo/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js') }}"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script>
                jQuery(document).ready(function($) {
                    {% for flashMessage in app.session.flashbag.get('notification-site') %}
                    $.bootstrapGrowl( '{{ flashMessage.contenu|raw }}', {
                        ele: 'body',
                        type: '{{ flashMessage.statut }}',
                        offset: {from: 'top', amount: 10},
                        align: 'center',
                        width: 'auto',
                        delay: 5000,
                        allow_dismiss: true,
                        stackup_spacing: 10
                    });
                    {% endfor %}
                });
            </script>
        {% endblock %}
    </body>
</html>
