<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{{ path("homepage") }}">Boite à bières</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('catalogue') }}">Catalogue</a>
                </li>
            </ul>
        </div>
    <div class="nav navbar-nav navbar-right collapse navbar-collapse">
        {% if app.session.get('panier') is defined and app.session.get('panier') is not null %}
            <a href="{{ path('cart') }}">Voir mon panier ({{ app.session.get('panier')|length }})</a>
        {% endif %}
        {% if app.user %}
            <div class="dropdown">
                <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('mon-profil') }}">Mon Profil</a>
                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                </div>
            </div>
        {% else %}
            <a class="nav-link" href="{{ path("fos_user_security_login") }}">Se Connecter</a>
            <a class="nav-link" href="{{ path("fos_user_registration_register") }}">S'inscrire</a>
        {% endif %}
    </div>
</nav>
