<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="fr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Boîte à bières | Console d'administration{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="Console d'administration" name="description" />
    <meta content="atalanta" name="author" />
    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/uniform/css/uniform.default.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/css/components-rounded.css') }}" id="style_components" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/css/plugins.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/admin/layout4/css/layout.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/admin/layout4/css/themes/light.css') }}" id="style_color" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/css/custom.css') }}" />
        <!-- END THEME STYLES -->
    {% endblock %}
    <!-- <link rel="shortcut icon" href="favicon.ico" /> -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-sidebar-closed-hide-logo {% block body_class %}{% endblock %}">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="javascript:;"><img src="" alt="logo" class="logo-default"/></a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->
        <div class="page-actions">
            <div class="btn-group">
                <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="hidden-sm hidden-xs">Actions&nbsp;</span><i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>
        <!-- END PAGE ACTIONS -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="separator hide">
                    </li>

                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> Admin </span>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                            <img alt="" class="img-circle" src="{{ asset('assets/bo/img/no-profile.jpg') }}"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                {# <a href="{{ path('bo_logout') }}"><i class="icon-key"></i> Déconnexion </a> #}
                                <a href="javascript:;"><i class="icon-key"></i> Déconnexion </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">

            {% include 'admin/menus/menu_principal.html.twig' %}

        </div>
    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            {% block modal %}
                <!-- BEGIN MODAL FORM-->
                <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"></div><!-- /.modal-content --></div><!-- /.modal-dialog --></div>
                <!-- END MODAL FORM-->

                <!-- BEGIN SUPPRIMER MODAL-->
                <div class="modal fade" id="modal_supprimer" tabindex="-1" role="basic" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"></div></div></div>
                <!-- END SUPPRIMER MODAL-->
            {% endblock %}

            {% block flashbag %}
                {# <!-- BEGIN FLASHBAG-->
                {% for flashMessage in app.session.flashbag.get('notification') %}
                    <div class="alert alert-{{ flashMessage.statut }}">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
                        {{ flashMessage.contenu|raw }}
                    </div>
                {% endfor %}
                <!-- END FLASHBAG--> #}
            {% endblock %}

            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    {% block page_title %}{% endblock %}
                </div>
                <!-- END PAGE TITLE -->
                <!-- BEGIN PAGE TOOLBAR -->
                <div class="page-toolbar">
                </div>
                <!-- END PAGE TOOLBAR -->
            </div>
            <!-- END PAGE HEAD -->


            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('admin_index') }}">Tableau de bord</a>
                    <i class="fa fa-circle"></i>
                </li>
                {% block breadcrumb %}{% endblock %}
            </ul>
            <!-- END PAGE BREADCRUMB -->


            {% block body %}{% endblock %}


            {% block legende %}{% endblock %}

        </div>
    </div>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        {{ "now"|date('Y') }} © Création <a href="http://www.roulemarcel.fr" target="_blank"> Roule Marcel</a> -
        Support <a href="https://www.atalanta.fr" target="_blank">Atalanta</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
{% block javascripts %}
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
<script src="{{ asset('assets/bo/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
    <script src="{{ asset('assets/bo/global/plugins/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/jquery-migrate.min.js') }}"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{{ asset('assets/bo/global/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/jquery.blockui.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/jquery.cokie.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/uniform/jquery.uniform.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <!-- END CORE PLUGINS -->
    <script src="{{ asset('assets/bo/global/scripts/metronic.js') }}"></script>
    <script src="{{ asset('assets/bo/admin/layout4/scripts/layout.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
        });
    </script>

    <script src="{{ asset('assets/bo/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            {% for flashMessage in app.session.flashbag.get('notification-admin') %}
            $.bootstrapGrowl( '{{ flashMessage.contenu|raw }}', {
                ele: 'body',
                type: '{{ flashMessage.statut }}',
                offset: {from: 'top', amount: 10},
                align: 'center',
                width: 'auto',
                delay: 5000,
                allow_dismiss: true,
                stackup_spacing: 10
            });
            {% endfor %}
        });
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/app/' ~ _self|replace({".html.twig": ".js"})) }}"></script>

{% endblock %}
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>