{% extends "admin/base.html.twig" %}


{% block title %}{{ parent() }} - Page blanche{% endblock %}


{% block stylesheets %}{{ parent() }}{% endblock %}


{% block breadcrumb %}
    {# {{ parent() }} #}
    {# <li>
        <a href="javascript:;">Page Layouts</a>
        <i class="fa fa-circle"></i>
    </li> #}
    <li>
        <span class="active">Page blanche</span>
    </li>
{% endblock %}


{% block page_title %}
    {{ parent() }}
    <h1>Page blanche <small></small></h1>
{% endblock %}


{% block body %}
    {{ parent() }}
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">


            <h1>Bienvenue sur la page blanche</h1>


        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}