{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Boîte à bières - Console d'administration | Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="Console d'administration - login" name="description" />
    <meta content="atalanta" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/uniform/css/uniform.default.css') }}" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/select2/select2.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/admin/pages/css/login-soft.css') }}" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/css/components-rounded.css') }}" id="style_components" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/css/plugins.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/admin/layout4/css/layout.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/admin/layout4/css/themes/default.css') }}" id="style_color" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/admin/layout4/css/custom.css') }}" />
    <!-- END THEME STYLES -->
    {# <link rel="shortcut icon" href="favicon.ico"/> #}
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="javascript:;">
        <img src="" alt="" />
    </a>
</div>
<!-- END LOGO -->

<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->

<!-- BEGIN LOGIN -->
<div class="content">

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="m-alert m-alert--outline alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        </div>
    {% endif %}

    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="{{ path('fos_admin_user_security_check') }}" method="post">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <h3 class="form-title">Identifiez-vous</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Saisissez votre identifiant et votre mot de passe. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Identifiant</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Identifiant" name="_username" id="username" value="{{ last_username }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Mot de passe</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Mot de passe" name="_password" id="password" />
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox" for="remember_me">
                <input type="checkbox" name="_remember_me" id="remember_me" value="0" /> Se souvenir de moi
            </label>
            <button type="submit" class="btn blue pull-right"> Se connecter <i class="m-icon-swapright m-icon-white"></i></button>
        </div>

    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
        <h3>Mot de passe oublié ?</h3>
        <p>
            Saisissez votre adresse e-mail ci-dessous pour ré-initialiser votre mot de passe.
        </p>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" id="email" />
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn"><i class="m-icon-swapleft"></i> Retour </button>
            <button type="submit" class="btn blue pull-right"> Envoyer <i class="m-icon-swapright m-icon-white"></i></button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->

</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    {{ "now"|date('Y') }} &copy
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('assets/bo/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('assets/bo/global/plugins/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/jquery.blockui.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/uniform/jquery.uniform.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/jquery.cokie.min.js') }}"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{ asset('assets/bo/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/backstretch/jquery.backstretch.min.js') }}"></script>
<script src="{{ asset('assets/bo/global/plugins/select2/select2.min.js') }}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{ asset('assets/bo/global/scripts/metronic.js') }}"></script>
<script src="{{ asset('assets/bo/admin/layout4/scripts/layout.js') }}"></script>
{# <script src="{{ asset('assets/bo/admin/layout4/scripts/demo.js') }}"></script> #}
<script src="{{ asset('assets/bo/admin/pages/scripts/login-soft.js') }}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Login.init();
        // Demo.init();

        $("#username").focus();

        // init background slide images
        $.backstretch([
                "{{ asset('assets/bo/admin/pages/media/bg/1.jpg') }}",
                "{{ asset('assets/bo/admin/pages/media/bg/2.jpg') }}",
                "{{ asset('assets/bo/admin/pages/media/bg/3.jpg') }}",
                "{{ asset('assets/bo/admin/pages/media/bg/4.jpg') }}"
            ],
            {
                fade: 1000,
                duration: 8000
            }
        );
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>