{% extends "admin/base.html.twig" %}


{% block title %}{{ parent() }} - Commandes{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/select2/select2.css') }} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }} " />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block breadcrumb %}
    {{ parent() }}
    <li>
        <span class="active">Commandes</span>
    </li>
{% endblock %}


{% block page_title %}
    {{ parent() }}
    <h1>Commandes</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <h1 style="margin:10px 0;">Liste des commandes</h1>
                    </div>
                    <div class="actions">

                        {# <a class="btn btn-default btn-sm" href="javascript:;" target="_blank">Aperçu Newsletter</a> #}
                        {# <a class="btn btn-default btn-sm" href="javascript:;" target="_blank">Test Newsletter</a> #}

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="table_articles">
                        <thead>
                        <tr role="row" class="heading">
                            <th>Référence</th>
                            <th>Produits</th>
                            <th>Prix</th>
                            <th style="width:8%;">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for uneCommande in listeCommandes %}
                            <tr>
                                <td>{{ uneCommande.reference }}</td>
                                <td>
                                    {% for uneLigne in uneCommande.ligneCommandes %}
                                        {{ uneLigne.produitNom|default('--') }} {% if not loop.last %}-{% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ uneCommande.totalPayeTtc|number_format(2, ',', '') }}€</td>
                                <td>
                                    <span class="hidden">{{ uneCommande.createdAt|date('Ymd') }}</span>
                                    {% if uneCommande.createdAt is not null %}{{ uneCommande.createdAt|date('d/m/Y') }}{% else %}--{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/bo/global/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('bundles/app/' ~ _self|replace({".html.twig": ".js"})) }}"></script>

{% endblock %}