{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Rejoindre la boite à bières
                    </h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}

                        <div class="form-group row">
                            <div class="col-md-6">
                                {{ form_label(form.gender, "Civilité*") }}
                                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.gender) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.username, "Pseudo*") }}
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                {{ form_label(form.firstname, "Prénom*") }}
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.firstname) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_label(form.lastname, "Nom*") }}
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.lastname) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.email, "Email*") }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.adresse.adresse, "Votre adresse") }}
                            {{ form_widget(form.adresse.adresse, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.adresse.adresse) }}
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                {{ form_label(form.adresse.codePostal, "Code postal") }}
                                {{ form_widget(form.adresse.codePostal, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.adresse.codePostal) }}
                            </div>
                            <div class="col-md-9">
                                {{ form_label(form.adresse.ville, "Votre ville") }}
                                {{ form_widget(form.adresse.ville, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.adresse.ville) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, "Mot de passe") }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, "Répétez le mot de passe") }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>

                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
