<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">SUPPRIMER UN VIN</h4>
</div>
<div class="modal-body">

    <p>Etes-vous certain de vouloir supprimer le vin <strong>{{ wine.name|upper }}</strong> ?</p>

</div>
<div class="modal-footer">
    {{ form_start(form, {'attr': {'role': 'form'}, 'action': path('admin_wine_delete', {'id': wine.id}), 'method': 'POST' }) }}
    {# {{ form_errors(form) }} #}
    <button type="button" class="btn default" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn red">Supprimer</button>
    {# {{ form_rest(form) }} #}
    {{ form_end(form) }}
</div>
