{% extends "admin/base.html.twig" %}


{% block title %}{{ parent() }} - Modifier{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('admin_wine_index') }}">Vin</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Modifier</span>
    </li>
{% endblock %}


{% block page_title %}
    {{ parent() }}
    <h1>Vin <small>modifier un vin</small></h1>
{% endblock %}


{% block body %}
    {{ form_start(form, {'attr': {'role': 'form'}, 'action': path('admin_wine_edit', {'id': wine.id}), 'method': 'POST' }) }}
    {{ form_errors(form) }}

    <div class="row">

        <div class="col-md-8">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption"><h1>Ajouter un vin</h1></div>
                </div>
                <div class="portlet-body form">

                    <div class="form-body">

                        <div class="form-group">
                            {{ form_label(form.name, "Nom", {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            <span class="help-block"></span>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, "Sous-titre", {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': ''} }) }}
                            <span class="help-block"></span>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.origin, "Origine", {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.origin, {'attr': {'class': 'form-control'} }) }}
                            <span class="help-block"></span>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.price, "Prix", {'label_attr': {'class': ''}}) }}
                            {{ form_widget(form.price, {'attr': {'class': 'form-control'} }) }}
                            <span class="help-block"></span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-4">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption"><h1>Actions</h1></div>
                </div>
                <div class="portlet-body">

                    <div class="margin-top-20">
                        <a href="{{ path('admin_wine_index') }}" class="btn default">Annuler</a>
                        {{ form_widget(form.saveAndStay, { 'label': 'Modifier et rester', 'attr': {'class': 'btn green'}}) }}
                        {{ form_widget(form.save, { 'label': 'Modifier', 'attr': {'class': 'btn green'}}) }}
                    </div>
                </div>
            </div>


        </div>

    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/bo/global/plugins/autosize/autosize.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('bundles/app/' ~ _self|replace({".html.twig": ".js"})) }}"></script>
{% endblock %}
