{% extends "admin/base.html.twig" %}


{% block title %}{{ parent() }} - Products{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/select2/select2.css') }} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }} " />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block breadcrumb %}
    {{ parent() }}
    <li>
        <span class="active">Produits</span>
    </li>
{% endblock %}


{% block page_title %}
    {{ parent() }}
    <h1>Produits</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <h1 style="margin:10px 0;">Liste des produits</h1>
                    </div>
                    <div class="actions">
                        <a class="btn green-meadow" href="{{ path('admin_wine_add') }}">Ajouter</a>

                        {# <a class="btn btn-default btn-sm" href="javascript:;" target="_blank">Aperçu Newsletter</a> #}
                        {# <a class="btn btn-default btn-sm" href="javascript:;" target="_blank">Test Newsletter</a> #}

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="table_articles">
                        <thead>
                        <tr role="row" class="heading">
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Origine</th>
                            <th>Variété</th>
                            <th style="width:8%;">Date d'ajout</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for unProduit in listeProduits %}
                            <tr>
                                <td>{{ unProduit.name|default("--") }}</td>
                                <td>{{ unProduit.price|number_format(2, ',', '') }}€</td>
                                <td>{{ unProduit.origin }}</td>
                                <td>{{ unProduit.variete|capitalize }}</td>
                                <td>
                                    <span class="hidden">{{ unProduit.createdAt|date('Ymd') }}</span>
                                    {% if unProduit.createdAt is not null %}{{ unProduit.createdAt|date('d/m/Y') }}{% else %}--{% endif %}
                                </td>
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="btn-group btn-group-xs btn-group-solid">
                                            <a class="btn blue" href="{{ path('admin_wine_edit', {'id': unProduit.id}) }}">Modifier</a>
                                            <a class="btn red supprimer" data-id="{{ unProduit.id }}" data-toggle="modal" href="#modal_supprimer">Supprimer </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/bo/global/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('bundles/app/' ~ _self|replace({".html.twig": ".js"})) }}"></script>

{% endblock %}