{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}


<div class="container">
    <h1>Catalogue</h1>
    <div class="row">
    {% for item in catalogue %}
        <div class="card col-3">
            {% if item.thumbnail is not null %}
            <img src="{{ ('uploads/thumbnails/' ~ asset(item.thumbnail))|imagine_filter('article_large') }}" alt="" class="card-img-top img-thumbnail">
            {% else %}
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text"><i class="fas fa-location-arrow"></i> {{ item.description|raw }}</p>
                <a href="{{ path('site_voir_vin', {'id': item.id}) }}" class="btn btn-primary">Voir les détails</a>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="row">
        <div class="offset-3 offset-md-4 offset-lg-5">
            <div class="text-center pagination">
                {{ knp_pagination_render(catalogue) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
