{% extends 'base.html.twig' %}

{% block title %}{{ wine.name }}{% endblock %}

{% block body %}



<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Détail du produit</h1>
        <hr class="my-4">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur debitis, eligendi error esse explicabo facere in magnam maiores omnis quasi rerum sequi soluta. Accusamus consectetur exercitationem minus numquam saepe?</p>
    </div>
    <div class="card" style="padding: 10px;">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{ ('uploads/thumbnails' ~ asset(wine.thumbnail))|imagine_filter('Card') }}" /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ wine.name }}</h3>
                    <p class="product-description">{{ wine.description|raw }}</p>
                    <h4 id="prix" class="price">Prix: <span class="price-val">{{ wine.price }}</span>€</h4>
                    <div class="action">
                        {{ form_start(form) }}

                        {{ form_label(form.quantite, 'Quantité') }}
                        <div class="row add-to-cart">
                            <div class="col-md-6">
                                {{ form_widget(form.quantite, {'attr': {'class': 'form-control select-quantity'}}) }}
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-default" type="submit">Ajouter au panier</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row col-md-12">
        <h2>Recommandé pour vous</h2>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="card-group">
            {% for suggestion in suggestions %}
                <div class="card" style="width: 18rem;">
                    {% if suggestion.thumbnail is not null %}
                        <img src="{{ ('uploads/thumbnails/' ~ asset(suggestion.thumbnail))|imagine_filter('article_large') }}" alt="" class="card-img-top img-thumbnail">
                    {% else %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ suggestion.name }}</h5>
                        <p class="card-text"><i class="fas fa-location-arrow"></i> {{ suggestion.description|raw }}</p>
                        <a href="{{ path('site_voir_vin', {'id': suggestion.id}) }}" class="btn btn-primary">Voir les détails</a>
                    </div>
                </div>
            {% else %}
                <p>
                    Aucun produit ne correspond aux critères donnés...
                </p>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

jQuery(document).ready(function($) { // initialisé au chargement de la page

    var priceTag = $(".price-val");
    var prix = priceTag.text(); // on récupère le prix initial du produit
    refreshPrice(); // on lance la fonction pour rafraichir son prix

    $('.form-control.select-quantity').on('change', function() { // si la valeur de la select change
       refreshPrice(); // alors on re-rafraichit le prix
    });

    function refreshPrice(){
         
        var quantite = $('.form-control.select-quantity').val(); // on récupère la quantité de la select (ciblée par sa classe)
        var total = quantite*prix;
        priceTag.text(total); // on actualise le prix, avec le nouveau total.
    }  
});

</script>

{% endblock %}
