{% extends 'base.html.twig' %}

{% block title %}Editer mon Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
  {{ form_start(form) }}
  <div class="form-group">
    <div class="row">
      <div class="col-6">
          {{ form_label(form.lastname, 'Nom') }}
          {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div class="col-6">
          {{ form_label(form.firstname, 'Prenom') }}
          {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="row">
      <div class="col-6">
          {{ form_label(form.adresse.adresse, 'Adresse') }}
          {{ form_widget(form.adresse.adresse, {'attr': {'class': 'form-control'}}) }}
      </div>
       <div class="col-6">
          {{ form_label(form.adresse.codePostal, 'Code Postal') }}
          {{ form_widget(form.adresse.codePostal, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

     <div class="row">
      <div class="col-6">
          {{ form_label(form.adresse.ville, 'Ville') }}
          {{ form_widget(form.adresse.ville, {'attr': {'class': 'form-control'}}) }}
      </div>
       <div class="col-6">
          {{ form_label(form.adresse.pays, 'Pays') }}
          {{ form_widget(form.adresse.pays, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  </div>
 

  <div class="row text-center">
      <button class="btn btn-lg btn-primary edit-button" type="submit">Modifier</button>
  </div>
  {{ form_end(form) }}
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
