{% extends 'base.html.twig' %}

{% block title %}Mon Espace{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">

                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{user.firstname}} {{user.lastname}}
                    </div>
                    <div class="profile-usertitle-job">
                        Membre de la Boîte à Bières
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <a href="{{ path('editer-profil') }}" class="btn btn-success btn-sm">Editer</a>
                </div>
                <!-- END SIDEBAR BUTTONS -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">

            <div>    
               <h5>Mon Adresse</h5>
               <p>Adresse : {{user.adresse.adresse}}</p>
               <p>Code Postal : {{user.adresse.codePostal}}</p>
               <p>Ville : {{user.adresse.ville}}</p>
               <p>Pays : {{user.adresse.pays}}</p>
            </div>

            <div>
               <h5>Mes Commandes</h5>

               {% if commandes|length > 0 %}
               <table class="table table-striped table-bordered table-hover" id="table_articles">
                        <thead>
                        <tr role="row" class="heading">
                            <th>Référence</th>
                            <th>Produits</th>
                            <th>Prix</th>
                            <th style="width:8%;">Date</th>
                            <th>Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandes %}
                            <tr>
                                <td>{{ commande.reference }}</td>
                                <td>
                                    {% for uneLigne in commande.ligneCommandes %}
                                        {{ uneLigne.produitNom|default('--') }} {% if not loop.last %}-{% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ commande.totalPayeTtc|number_format(2, ',', '') }}€</td>
                                <td>
                                    {% if commande.createdAt is not null %}{{ commande.createdAt|date('d/m/Y') }}{% else %}--{% endif %}
                                </td>
                                <td>{{ commande.statut.nom }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Vous n'avez pas encore passé de commande.</p>
                  {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
