<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kevin le cochon malade</title>
</head>
<body>
    <h4>Récapitulatif de votre commande #{{ params.maCommande.reference }}</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Référence produit</th>
            <th>Nom</th>
            <th>Prix</th>
        </tr>
        </thead>
        <tbody>
        {% for uneLigne in params.maCommande.ligneCommandes %}
            <tr>
                <td>{{ uneLigne.wine.reference }}</td>
                <td>{{ uneLigne.wine.name|capitalize }}</td>
                <td>{{ uneLigne.totalPrixHT|number_format(2, ',', '') }}€</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h4>Vos informations personnelles</h4>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ params.maCommande.user.lastname|default('--') }}</td>
            <td>{{ params.maCommande.user.firstname|default('--') }}</td>
            <td>{{ params.maCommande.user.email|default('--') }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h4>Adresse de livraison</h4>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>France</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ params.maCommande.user.adresse.adresse|default('--') }}</td>
            <td>{{ params.maCommande.user.adresse.codePostal|default('--') }}</td>
            <td>{{ params.maCommande.user.adresse.ville|default('--') }}</td>
            <td>{{ params.maCommande.user.adresse.pays|default('--') }}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>