{# ------------------------------------------------------------ #}
{# ---------------------- ROUTES ------------------------------ #}
{# ------------------------------------------------------------ #}
{% set routeCourante = app.request.get('_route') %}
{% set type = app.request.get('type') %}


{# ---------------------------------------------------------------- #}
{# ---------------------- BOUTIQUE -------------------------------- #}
{# ---------------------------------------------------------------- #}

{# ---------------------- PRODUITS -------------------------------- #}
{% set routes_produit = [
    'admin_wine_index'
]
%}

{# ---------------------- USERS -------------------------------- #}
{% set routes_user = [
    'admin_user_index'
]
%}

{# ---------------------- Commandes -------------------------------- #}
{% set routes_commande = [
    'admin_order_index'
]
%}

{# ---------------------------------------------------------------- #}
{# ---------------------- ADMINISTRATION -------------------------- #}
{# ---------------------------------------------------------------- #}
{% set routes_administration = [
    'admin_index'
]
%}


{# ------------------------------------------------------------ #}
{# ---------------------- MENU -------------------------------- #}
{# ------------------------------------------------------------ #}
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<ul class="page-sidebar-menu page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>

    <!-- BEGIN TABLEAU DE BORD-->
    <li class="start {% if routeCourante in ['bo_index'] %}active{% endif %}">
        <a href="{{ path('admin_index') }}">
            <i class="icon-home"></i>
            <span class="title">TABLEAU DE BORD</span>
            {# <span class="arrow"></span> #}
            {% if routeCourante in ['bo_index'] %}<span class="selected"></span>{% endif %}
        </a>
    </li>

    <li class="{% if routeCourante in routes_produit %}active{% endif %}">
        <a href="javascript:;">
            <i class="icon-credit-card"></i> <span class="title">Produits</span>
            <span class="arrow {% if routeCourante in routes_produit %}open{% endif %}"></span>
        </a>
        <ul class="sub-menu">
            <li class="{% if routeCourante in ['admin_wine_index'] %}active{% endif %}">
                <a href="{{ path('admin_wine_index') }}">Manage</a>
            </li>
        </ul>
    </li>

    <li class="{% if routeCourante in routes_user %}active{% endif %}">
        <a href="javascript:;">
            <i class="icon-user"></i> <span class="title">Utilisateurs</span>
            <span class="arrow {% if routeCourante in routes_user %}open{% endif %}"></span>
        </a>
        <ul class="sub-menu">
            <li class="{% if routeCourante in ['admin_users_index'] %}active{% endif %}">
                <a href="{{ path('admin_users_index') }}">Manage</a>
            </li>
        </ul>
    </li>

    <li class="{% if routeCourante in routes_commande %}active{% endif %}">
        <a href="javascript:;">
            <i class="icon-credit-card"></i> <span class="title">Commandes</span>
            <span class="arrow {% if routeCourante in routes_commande %}open{% endif %}"></span>
        </a>
        <ul class="sub-menu">
            <li class="{% if routeCourante in ['admin_order_index'] %}active{% endif %}">
                <a href="{{ path('admin_order_index') }}">Manage</a>
            </li>
        </ul>
    </li>

</ul>