{% extends "admin/base.html.twig" %}


{% block title %}{{ parent() }} - Utilisateurs{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/select2/select2.css') }} " />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }} " />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block breadcrumb %}
    {{ parent() }}
    <li>
        <span class="active">Utilisateurs</span>
    </li>
{% endblock %}


{% block page_title %}
    {{ parent() }}
    <h1>Utilisateurs</h1>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <h1 style="margin:10px 0;">Liste des utilisateurs</h1>
                    </div>
                    <div class="actions">

                        {# <a class="btn btn-default btn-sm" href="javascript:;" target="_blank">Aperçu Newsletter</a> #}
                        {# <a class="btn btn-default btn-sm" href="javascript:;" target="_blank">Test Newsletter</a> #}

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="table_articles">
                        <thead>
                        <tr role="row" class="heading">
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="btn-group btn-group-xs btn-group-solid">
                                            <a class="btn blue" href="{{ path('admin_user_voir', {'id': user.id}) }}">Voir</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/bo/global/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('bundles/app/' ~ _self|replace({".html.twig": ".js"})) }}"></script>

{% endblock %}