{% extends "admin/base.html.twig" %}

{% block title %}{{ parent() }} - Utilisateur - Membre - Modifier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bo/global/plugins/bootstrap-summernote/summernote.css') }}" />
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="javascript:;">Utilisateur</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Voir</span>
    </li>
{% endblock %}


{% block page_title %}
    {{ parent() }}
    <h1>Utilisateur <small>voir un utilisateur</small></h1>
{% endblock %}


{% block body %}
    <div class="row">

        <div class="col-md-4">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption"><h1> Informations générales </h1></div>
                </div>
                <div class="portlet-body form">

                    <div class="form-body">

                        <div class="form-group">
                                {{ user.gender|capitalize }}
                        </div>

                        <div class="form-group">
                                {{ user.firstname|capitalize }}
                        </div>

                        <div class="form-group">
                                {{ user.lastname|capitalize }}
                        </div>

                        <div class="form-group">
                                {{ user.email|capitalize }}
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-4">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption"><h1> Adresse </h1></div>
                </div>
                <div class="portlet-body">

                    <div class="form-group">
                            {{ user.adresse.adresse|capitalize }}
                    </div>

                    <div class="form-group">
                            {{ user.adresse.codePostal|capitalize }}
                    </div>

                    <div class="form-group">
                            {{ user.adresse.ville|capitalize }}
                    </div>

                    <div class="form-group">
                            {{ user.adresse.pays|capitalize }}
                    </div>

                </div>
            </div>


        </div>

        <div class="col-md-4">

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption"><h1>Commandes</h1></div>
                </div>
                <div class="portlet-body">
                   <table class="table table-striped table-bordered">
                       <thead>
                       <tr>
                           <th>Référence</th>
                           <th>Total payé TTC</th>
                       </tr>
                       </thead>
                       <tbody>
                       {% for commande in commandes %}
                           <tr>
                               <td>{{ commande.reference }}</td>
                               <td>{{ commande.totalPayeTTC }}€</td>
                           </tr>
                       {% endfor %}
                       </tbody>
                   </table>

                </div>
            </div>


        </div>

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{{ asset('assets/bo/global/plugins/autosize/autosize.min.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}"></script>
    <script src="{{ asset('assets/bo/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js') }}"></script>
    {# <script src="{{ asset('assets/bo/global/plugins/bootstrap-summernote/summernote.min.js') }}"></script> #}
    {# <script src="{{ asset('assets/bo/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"></script> #}
    {# <script src="{{ asset('assets/bo/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"></script> #}
    {# <script src="{{ asset('assets/bo/global/plugins/bootstrap-wysihtml5/locales/bootstrap-wysihtml5.fr-FR.js') }}"></script> #}
    <script src="{{ asset('assets/bo/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{{ asset('bundles/app/' ~ _self|replace({".html.twig": ".js"})) }}"></script>
{% endblock %}